.lb{
    margin-left:60px;
    margin-top:10px;
}
.lb_c{
    margin-left:208px;
    margin-top:10px;
}
.t1 {
    margin-left: 15px;
    margin-top: 10px;
}
.t2 {
    margin-left: 19px;
    margin-top: 10px;
}
.t4 {
    margin-left: 37px;
    margin-top: 10px;
}
.t3 {
    margin-left: 25px;
    margin-top: 10px;
}
.lb_thongbao{
    margin-left:500px;
}
.lb1{
    position:relative;
    margin-left:590px;
    margin-top:15px;
}
.t5{
    margin-left:122px;
}
.grid_gv{
    margin-left:360px;
    margin-top:10px;
}