.lb1{
    margin-left:50px;
    margin-top:10px;
}
.lb2{
    margin-left:10px;
    margin-top:10px;
}
.lb3{
    margin-left:20px;
    margin-top:10px;
}
.lb4{
    margin-left:300px;
    margin-top:10px;
}
.lb5{
    margin-left:70px;

}
.lb7{
    margin-left:725px;
}
.exSV{
    background-color:#BBBBBB;
    margin-left:912px;
}
